// Colors
$primaryA: hsla(274, 64%, 34%, 1);
$primaryB: hsla(273, 88%, 62%, 1);
$secondaryA: rgb(199, 168, 33);
$secondaryB: hsla(49, 100%, 57%, 1);
$tertiaryA: rgb(161, 18, 7);
$tertiaryB: hsla(280, 54%, 34%, 1);
$neutralA: hsla(45, 92%, 97%, 1);
$neutralB: hsla(0, 1%, 26%, 1);
$white: hsl(0, 0%, 100%);

// Font-sizes
$medFont: 1.125rem; // 18px
$smallFont: 0.875rem; // 14px
$largeFont: 1.25rem;
$xlFont: 3.25rem;
